[% fase_classes = [] %]
[% fase_classes.push('pip-case-form-phase-current')
    IF requested_fase.status == fase.status %]
[% fase_classes.push('pip-case-form-phase-active')
    IF fase.status <= zaak.milestone %]
[% fase_classes.push('pip-case-form-phase-inactive')
    IF fase.status > (zaak.milestone + 1) %]
[% fase_classes.push('pip-case-form-phase-current pip-case-form-phase-active')
    IF fase.status == (zaak.milestone + 1) %]

<button class="[% fase_classes.join(' ') %] pip-case-form-phase-title" data-ng-click="collapsed=!collapsed" data-ng-disabled="!collapsible">
    <div class="pip-case-form-phase-title-primary">
        <div class="pip-case-form-phase-title-icon">
            <i class="icon icon-font-awesome icon-caret-down" data-ng-class="{ 'icon-caret-down': !collapsed, 'icon-caret-right': collapsed }"></i> 
        </div>
        <div class="pip-case-form-phase-title-text">[% fase.fase %]</div>
    </div>
    <div class="pip-case-form-phase-title-meta">
        [% IF fase.status <= zaak.milestone %]
            <span><i class="icon icon-font-awesome icon-ok"></i></span>
        [% END %]

        [% IF fase.status == 1 %]
            <span>[% zaak.registratiedatum.set_locale('nl_NL').strftime('%e %B %Y') %]</span>

        [% ELSE %]
            [% phase_closing_event = c.model('DB::Logging').phase_closing_event({zaak_id => zaak.id, zaaktype_status_id => fase.id}) %]

            <span>[% phase_closing_event.last_modified.set_locale('nl_NL').strftime('%e %B %Y') %]</span>
        [% END %]


        [% IF !zaak.is_afgehandeld && fase.status == zaak.milestone + 1 %]
            <span>Nu bezig</span>
        [% END %]



        [% IF zaak.afhandeldatum && fase.status == zaak.afhandel_fase.status %]
            <span>[% zaak.afhandeldatum.set_locale('nl_NL').strftime('%e %B %Y') %]</span>
        [% END %]
    </div>
</button>
