<div class="role-picker-part">

	<div class="role-picker-part-label">
		Afdeling
	</div>

	<div class="role-picker-part-control">
		<select
			ng-model="vm.selectedUnit"
			ng-change="vm.handleUnitChange()"
			ng-options="option.value as option.label for option in vm.getUnitOptions()"
		>
		</select>
	</div>

</div>

<div class="role-picker-part">

	<div class="role-picker-part-label">
		Rol
	</div>

	<div class="role-picker-part-control">

		<div class="role-picker-part-control-filter" ng-show="vm.isFilterVisible()">

			<zs-icon class="role-picker-part-control-filter-icon" icon-type="magnify"></zs-icon>

			<input
				class="role-picker-part-control-filter-input" 
				ng-model="vm.roleQuery"
				ng-change="vm.handleRoleQueryChange()"
				placeholder="Filter de rollen"
			/>

		</div>

		<select
			class="role-picker-part-control-select" 
			ng-model="vm.selectedRole"
			ng-change="vm.handleRoleChange()"
			ng-options="option.value as option.label for option in vm.getRoleOptions()"
		>
		</select

	</div>

</div>
