<div class="notification-list-item" ng-class="{'read': option.isRead}">
	<strong>{{::option.requester}}</strong> heeft u een bericht gestuurd over <strong><a href="/intern/zaak/{{::option.related_case}}">zaak {{::option.related_case}}</a></strong>: <strong>{{::option.message}}</strong>
	<span class="notification-list-item-date">{{::option.timestamp}}</span>
</div>
