@import '../../../styles/_variables.scss';

zs-notification-list {

	.notifications{
		flex:1;
		overflow-y:auto;
		min-height: 0px;
		background: white;
	}

	.notification-list {
		display: block;
		padding: 0;
		margin: 0;
	}

	.notification-list-header {
		padding: 0 15px;
		background-color: #fff;
		border-bottom: solid 1px #ddd;
		font-size: $h1-font-size;
		line-height: $navbar-height;
	}


	.notification-list-item{
		display: block;
		line-height: 1.4;
		padding: 10px 15px;
		border-bottom: solid 1px #ddd;
		background: $very-light-blue;
		display: flex;
		max-width: 100%;
		overflow-x: hidden;
		

		&.read {
			background: #fff;
		}

		a{
			color: $primary-color;
			text-decoration: underline;
		}

	}

	.notification-list-item-title {
		white-space: normal; 
	}

	.notification-list-item-icon {
		flex-shrink: 0;
		zs-icon{
			border-radius: 100%;
			width:2.3rem;
			height:2.3rem;
			line-height: 2.3rem;
			background: rgba(0,0,0,.1);
			display: flex;
			align-items: center;
			justify-content: center;
			margin:0 1rem 0 0;
			.mdi{
				font-size: 1.25rem;
			}
		}
	}

	.notification-list-item-link {
	}

	.notification-list-item-label {
		padding-left: 5px;
	}

	.notification-list-item-message {

	}

	.notification-list-item-message-sender {
		display: inline;
	}

	.notification-list-item-message-content {
		display: inline;
		white-space: normal;
	}

	.notification-list-item-date{
		display: block;
		color: #999;
		margin-top: 2px;
		font-size: 12px;
	}

	.notification-read-more{
		padding:1rem;
		justify-content: center;
		display: flex;
	}

}
