<div class="phase-sidebar-compact"
>

	<zs-case-phase-sidebar-tab-list
		data-tabs="vm.getTabs()"
	>
	</zs-case-phase-sidebar-tab-list>

</div>

<div class="phase-sidebar"
>

	<zs-case-phase-sidebar-tab-list
		data-tabs="vm.getTabs()"
	>
	</zs-case-phase-sidebar-tab-list>

	<div class="phase-sidebar-content" ng-switch="vm.getSelectedTab()">

		<zs-case-action-list
			ng-switch-when="acties"
			data-actions="vm.getTabs()[0].children"
			on-action-automatic-toggle="vm.handleActionAutomaticToggle($actionId, $automatic)"
			on-action-untaint="vm.handleActionUntaint($actionId)"
			on-action-trigger="vm.handleActionTrigger($action, $trigger, $data)"
			data-templates="vm.templates()"
			data-requestor="vm.requestor()"
			data-phases="vm.phases()"
			case-documents="vm.caseDocuments()"
			data-disabled="!vm.canEditActionList()"
		>
		</zs-case-action-list>

		<zs-case-check-list
			ng-switch-when="checklist"
			data-items="vm.getTabs()[1].children"
			on-item-add="vm.handleChecklistAdd($content)"
			on-item-remove="vm.handleChecklistRemove($item)"
			on-item-toggle="vm.handleChecklistToggle($item, $checked)"
			data-disabled="!vm.canEditCheckList()"
		>
		</zs-case-check-list>

	</div>

</div>

<button type="button" ng-click="vm.handleCollapseClick()" class="phase-sidebar-collapse-button btn-floating btn-floating-small">
	<zs-icon icon-type="{{vm.isSidebarCollapsed() ? 'chevron-left' : 'chevron-right'}}"></zs-icon>
</button>
