<div class="backdrop contextual-action-button-backdrop" ng-show="vm.isMenuOpen()"></div>

<div class="event-wrapper">

	<button ng-class="vm.getButtonStyle()" class="top-bar-create-case btn-floating" ng-click="vm.openMenu()">
		<zs-icon icon-type="plus"></zs-icon>
	</button>

	<ul class="popup-menu-list">
		<li 
			class="popup-menu-list-item" 
			ng-repeat="option in vm.options() track by option.name"
			data-type="{{::option.type}}"
			data-name="{{::option.name}}"
		>
			<button
				class="popup-menu-list-item-button"
				ng-click="vm.handleOptionClick(option, $event)"
				zs-tooltip-options="vm.titleOptions"
			>
				<div class="button-inner">
					<div class="popup-menu-list-item-label">
						{{::option.label}}
					</div>
					<div class="zs-icon-wrapper btn-floating">
						<zs-icon icon-type="{{::option.iconClass}}">
						</zs-icon>
					</div>
				</div>

			</button>
		</li>
	</ul>

</div>
