@import "./../../../../../../../../../shared/styles/variables";

zs-case-search-result-compact{
	display: block;
	width:100%;
}

.case-search-result-compact {
	font-size: 1rem;
	display: flex;
	.case-status {
		font-size: 1rem;
		width: 2.2rem;
		flex-shrink:0;
	}
	.case-label{
		display: flex;
		align-items: flex-start;
		.case-days-left-wrap{
			padding:.15rem 0 0 .4rem;
			margin-left:auto;
			display: flex;
		}
	}
	.case-info {
		display: flex;
		flex-direction: column;
		flex-grow:1;
		> .case-description {
			color: $grey;
			vertical-align: middle;
		}
		.case-requestor {
			margin-right: 2px;
			display: flex;
			align-items:center;
			> zs-icon {
				font-size:1.15rem;
				margin-right:3px;
			}
		}
		.case-days-left {
			min-width: auto;
			line-height: 1.15rem;
			font-weight: 500;
			font-size:.7rem;
			padding:0 3px;
			border-radius:4px;
		}
		.case-subject {
			color: $grey;
			margin-right: 5px;
		}
	}
}

.zs-table-row:hover {

	.case-search-result-compact {
		.case-days-left {
			opacity: 1;
		}
	}

}
