#intercom-container .intercom-launcher {
	display: none;
}

#intercom-container .intercom-launcher {
	// position offscreen
	bottom: 20px;
	left: 20px;
	.intercom-launcher-button,
	.intercom-launcher-badge {
		display: none;
	}
	.intercom-launcher-preview {
		right: auto;
	}
}

#intercom-container #intercom-messenger.intercom-messenger-active {
	
	position: fixed;
	right: 0;
	top: 0;
	left: auto;
	bottom: 0;
	z-index: 9;

	.intercom-loading,
	.intercom-conversations {
		position: static;
		visibility: visible !important;
	}
}
