<fieldset>

	<div class="vorm-fieldset-label">{{vm.label}}</div>
	<div class="vorm-fieldset-description" ng-bind-html="vm.getDescription()"></div>

	<ul class="vorm-field-list">

		<li class="vorm-field-item"
			ng-repeat="field in vm.getFields() track by field.name"
			data-name="{{::field.name}}"
		>
			<a name="{{::field.name}}"></a>

			<vorm-field
				data-label="{{vm.invoke(field.label)}}"
				data-description="{{vm.invoke(field.description)}}"
				data-add-label="{{vm.invoke(field.addLabel)}}"
				data-value="vm.values()[field.name]"
				data-template="field.template"
				template-data="field.data"
				on-change="vm.handleChange(field.name, $value)"
				data-disabled="vm.invoke(field.disabled)"
				data-required="vm.invoke(field.required)"
				data-limit="vm.invoke(field.limit)"
				model-options="field.modelOptions||vm.getModelOptions()"
				data-valid="vm.valid()[field.name]"
				data-locals="vm.getLocals()"
				data-compiler="vm.compiler()"
				data-autofocus="$index===0"
			>
			</vorm-field>
		
		</li>
	</ul>

	

</fieldset>
