@import "../../styles/variables";

zs-rich-text-area {	
	ul > li {
		list-style-type: disc;
	}
	ol > li {
		list-style-type: decimal;
	}
}

.rich-text-component.fullscreen{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
	background: white;

}

.rich-text-toolbar {
	width:100%;
	padding: 1px;
	display: inline-block;
	padding:.5em;
	border:1px solid $form-border-color;
	border-bottom:none;
	background:#f7f7f7;

	.rich-text-toolbar-item {
		display: inline-block;
	}

	.rich-text-toolbar-button {
		background: none;
		padding: 0.2em 0.5em;
		border: 0;
		border-radius:100%;
		margin-right:.1em;
		//background: white;
		font-size: 1.2rem;
		&.ql-active,
		&.ql-active:hover {
			background-color: #ddd;
		}
		&:hover{
			background:#eee;
		}
	}

}

.rich-text-editor {
	
	border: 1px solid $form-border-color;

	> .ql-editor {
		min-height: 200px;
	}
	&.ql-container{
		font-family: Roboto, sans-serif;
		font-size:1rem;
	}

	&.dummy {
		padding: 12px 15px;
		line-height: 1.42;
		position: relative;
		> .dummy-editable {
			min-height: 200px;
			ul,ol{
				margin:0 0 0 2em;
			}
		}
		zs-spinner {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -15px;
			margin-left: -15px;
		}
	}

}



.rich-text-toolbar-dropdown > button > zs-icon::before {
	background: red !important;
	display: block;
	content: mdi('play-circle');
}

.rich-text-toolbar-dropdown.compact {
	> .popup-menu-list {
		right: auto;
		position: absolute;
		width: auto;
		.popup-menu-list-item-button {
			white-space: nowrap;
		}
	}
}

.form-field-control-wrapper {
	&[data-inherits="rich-text"]{
		.html-truncate-wrapper{
			ul,ol{
				margin: 0 0 0 2em;
			}
			ul, ul li{
				list-style-type: disc;
			}
			ol, ol li{
				list-style-type: decimal;
			}
		}
	}
}
