@import '../../styles/variables.scss';

zs-pending-change{
	box-shadow:0 1px 2px rgba(0,0,0,0.45);
	display: block;
	background:#FFFFE7;
	padding:.5rem 0;
	margin:1rem 2rem 0;
}

.change-header{
	padding:1rem 1.5rem .5rem 1.5rem;
}

.change-summary{
	padding:0 1.5rem 1rem;
}

.change-actions{
	padding-bottom:.5rem;
}

@media #{$large-and-up} {
	zs-pending-change{
		margin:1rem 0 0;
	}
}