<div class="change-header">
	<b>{{vm.getRequestorName()}}</b> heeft een wijziging voorgesteld voor dit kenmerk.
</div>

<div class="change-summary">

	<div class="change-summary-row">Nieuwe waarde: {{vm.getValue()}}</div>
	<div class="change-summary-row" ng-show="vm.getReason()">Opmerking: {{vm.getReason()}}</div>

</div>

<div class="change-actions form-actions" ng-show="!vm.disabled()">

	<button type="button" ng-click="vm.reject()" class="btn btn-flat">
		Weigeren
	</button>

	<button type="button" ng-click="vm.accept()" class="btn btn-flat">
		Accepteren
	</button>

</div>
