@import '../../styles/variables.scss';

zs-case-intake-action-list{
	display: flex;
	justify-content: flex-end;
	.mdi-account-multiple,
	.mdi-account{
		color:$icon-grey;
		font-size:1.4rem;
		&:hover{
			color:#000;
		}
	}
	.case-intake-action-take-on{
		margin-left:15px;
		position: relative;
		margin-top:-2px;
		margin-bottom:-2px;
		border-radius:100%;
		background: transparent;
		color:#777;
		width:25px;
		height:25px;
		padding:0;
		line-height: 24px;
		text-align: center;
		border:1px solid #aaa;
		&:hover{
			color:#fff;
			background: $primary-color;
			border-color:$primary-color;
		}
	}
}

