[% USE Dumper %]

<div id="notificaties_definitie">

[% UNLESS formless %]
<form>
[% END %]

[% hidden_id_field %]
<input type="hidden" name="uniqueidr" value="[% c.req.params.uniqueidr %]">
<input type="hidden" name="update" value="1">
<input type="hidden" name="rownumber" value="[% rownumber %]">
<table id="notificaties_template" class="vertical-align-top">
    <tbody>
        <tr>
            <td>Ontvanger</td>

            <td>
                <select name="notificaties_rcpt" class="ezra_notificatie_rcpt">
                    [% FOR rcpt IN ZCONSTANTS.mail_rcpt %]
                        [% NEXT IF rcpt.name == 'zaak_behandelaar' && milestone_number != 1 %]

                        <option value="[% rcpt.name %]" [% (rcpt.name == params.rcpt ? ' selected="selected"' : '') %]>
                            [% rcpt.label %]
                        </option>
                    [% END %]
                </select>
            </td>
        </tr>

        [% INCLUDE widgets/betrokkene/select.tt 
            instance_id = 'notificaties_ztc_aanvrager_id'
            input_name = 'notificaties_behandelaar'
            allow_internal = 1
            allow_external = 0
            row_classes = ['ezra_notificatie_rcpt_behandelaar']
            label = 'Collega'
            betrokkene_type = 'medewerker'
            betrokkene_id = params.behandelaar
            betrokkene_naam = ( params.betrokkene_naam || c.model('Betrokkene').get({}, params.behandelaar).naam )
        %]

        <tr class="ezra_notificatie_rcpt_overig">
            <td>E-mailadres:</td>
            <td>
                <input type="text" name="notificaties_email" value="[% params.email | html_entity %]" />
            </td>
        </tr>

        <tr>
            <td>Cc:</td>
            <td>
                <input type="text" name="notificaties_cc" value="[% params.cc | html_entity %]" />
            </td>
        </tr>

        <tr>
            <td>Bcc:</td>
            <td>
                <input type="text" name="notificaties_bcc" value="[% params.bcc | html_entity %]" />
            </td>
        </tr>


        [% IF zaak %]
            [% IF params.send_date %]
                <tr>
                    <td>Versturen op:</td>
                    <td>
                        <input
                            type="text"
                            class="ezra_case_next_phase_notification_send_date normal100"
                            name="notificaties_send_date"
                            value="[% params.send_date %]"
                            />
                    </td>
                </tr>
            [% END %]

                <tr>
                    <td class="td180">Onderwerp:</td>
                    <td class="td260">
                        <input type="text" name="notificaties_subject" value="[% params.subject %]" />
                    </td>
                </tr>
                <tr>
                    <td class="td180">Bericht:</td>
                    <td class="td260">
                        <textarea name="notificaties_body" rows="10" cols="60">[% params.body %]</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="td180">Zaakdocument-bijlagen</td>
                                        <td class="td260">
                        [% FOR cda = case_document_attachments %]
                            <input type="checkbox" [% IF cda.selected %]checked="checked"[% END %] name="notificaties_case_document_attachments[]" value="[% cda.case_document_ids %]"/>&nbsp;[% cda.name %]<br>
                        [% END %]
                    </td>
                </tr>
        [% END %]
        [% UNLESS zaak %]
            <tr>
                <td>E-mailsjabloon:</td>
                <td>
                    <div class="ezra_bibliotheek_notificatie">
                        <input 
                            type="text" 
                            class="ezra_search_notificatie input_medium input_readonly"
                            name="bibliotheek_notificaties_name" 
                            [% IF params.bibliotheek_notificaties_id %]
                            value="[% c.model('DB::BibliotheekNotificaties').find(params.bibliotheek_notificaties_id).label %]"  
                            [% END %]
                            readonly="true"
                        />
                        <input 
                            type="hidden" 
                            name="notificaties_bibliotheek_notificaties_id" 
                            value="[% params.bibliotheek_notificaties_id %]"
                        />
                        <a href="/beheer/bibliotheek/notificaties/search" title="Kies berichtsjabloon" class="ezra_search_notificatie button button-secondary button-small">
                <i class="icon-font-awesome icon-search"></i>
                        </a><span class="validator"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Versturen bij afronden fase:</td>
                <td>
                    <div>
                        <input type="hidden" name="dialog_checkboxes" value="notificaties_automatic" />
                        <input type="checkbox" value="1" name="notificaties_automatic"[% (params.automatic ? ' checked="checked"' : '') %]> Ja
                    </div>
                </td>
            </tr>
        [% END %]




    </tbody>
<table>

[% UNLESS formless %]
<div class="form-actions">
<input type="button" value="Opslaan" class="button button-primary ezra_notificatie_dialog_submit">
</div>
</form>
[% END %]

</div>
