<div class="kenmerk-veld row">
	<div class="column large-4">
		<div class="field-label field-has-help">
			<div class="field-help">
				[% PROCESS widgets/general/dropdown.tt
					dropdown_content = 'Deze setting bepaalt of de /man van uw zaaksysteem publiekelijk beschikbaar is.',
				    icon = 'icon-toelichting',
				    icon_type = 'icon-graphic'
				%]
	        </div>
	        <label>Manual van zaaksysteem publiekelijk beschikbaar</label>
		</div>
	</div>
	<div class="column large-8">
		<div class="field">
			<input type="checkbox" name="public_manpage" [% value ? 'checked="checked"' : '' %] />
		</div>
	</div>

</div>
