<div class="kenmerk-veld row">
	<div class="column large-4">
		<div class="field-label field-has-help">
			<div class="field-help">
				[% PROCESS widgets/general/dropdown.tt
					dropdown_content = 'Maak gebruik van Flexpaper (wordt uitgefaseerd) of maak gebruik van PDFjs'
				    icon = 'icon-question-sign',
				    icon_type = 'icon-font-awesome'
				%]
	        </div>
	        <label>Document viewer</label>
		</div>
	</div>
	<div class="column large-8">
		<div class="field">
            <select name="[% parameter %]">
                <option value="1" [% IF value %]selected="selected"[% END %]>Flexpaper</option>
                <option value="0" [% IF !value %]selected="selected"[% END %]>PDFjs</option>
            </select>
		</div>
	</div>

</div>
