<div id="create_relatie" class="form">
    <form method="POST" action="[% c.uri_for(c.action,c.req.captures) %]" class="zvalidate">
    <input type="hidden" name="confirmed" value="1" />
    <table class="table-fixed">
        <tbody>
            [% INCLUDE widgets/search_contact.tt 
                type_label = 'Betrokkenetype'
                label = 'Selecteer een betrokkene'
                ezra_id = 'ezra_id_ontvanger'
                selector_input = 'type'
                input_name = 'betrokkene_identifier'
            %]

            [% rollen = [
                "Advocaat",
                "Auditor",
                "Aannemer",
                "Bewindvoerder",
                "Familielid",
                "Gemachtigde",
                "Mantelzorger",
                "Ouder",
                "Ontvanger",
                "Verzorger",
                "Anders"
            ] %]
            <tr>
                <td class="td-label td100"><span>Rol betrokkene</span></td>
                <td class="td120">
                    <select name="betrokkene_role_set" id="create_relatie_role_set">
                        [% FOREACH role IN rollen %]
                        <option value="[% role %]">[% role %]</option>
                        [% END %]
                    </select>
                </td>
                <td class="td100">
                    [% PROCESS widgets/general/tooltip.tt
                        message = 'Geef een korte omschrijving van de betrokkene.'
                    %]
                    [% PROCESS widgets/general/validator.tt %]
                </td>
            </tr>

            <tr id="create_relatie_other_role" style="display: none;">
                <td class="td-label"><span>Andere rol</span></td>
                <td class="td120">
                    <input type="text" id="create_relatie_other_role_input" name="rol" class="ezra_id_rol large" />
                </td>
                <td class="td100">
                    [% PROCESS widgets/general/tooltip.tt
                        message = 'Geef een korte omschrijving van de betrokkene.'
                    %]
                    [% PROCESS widgets/general/validator.tt %]
                </td>
            </tr>

            <tr>
                <td class="td-label"><span>Magic string prefix</span></td>
                <td>
                    <div class="spinner_input_wrap">
                        <input
                        type="text"
                        name="magic_string_prefix"
                        class="ezra_id_magic_string large"
                        readonly="true"
                        style="background: #EEE;"
                        />
                        <div class="spinner-klein spinner_input ezra_id_magic_spinner"></div>
                    </div>
                </td>
                <td>
                    [% PROCESS widgets/general/tooltip.tt
                        message = 'Geef een voorvoegsel voor de magic string van
                            deze gerelateerde betrokkenen.'
                    %]
                    [% PROCESS widgets/general/validator.tt %]
                </td>
            </tr>
            <tr>
                <td class="td-label"><span>Gemachtigd voor deze zaak</span></td>
                <td>
                    <input type="checkbox" value="1" name="pip_authorized" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="td-label"><span>Verstuur bevestiging per e-mail</span></td>
                <td>
                    <input type="checkbox" value="1" name="send_auth_confirmation" />
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="form-actions">
        <input type="submit" value="Toevoegen" id="dialog-submit" class="button button-primary" />
    </div>
    </form>
</div>
