@import "variables";

fieldset{
	border:none;
	margin:0;
	padding:0;
}

input:not([type]),
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="url"],
textarea,
button,
a{
	&:active,
	&:focus{
		outline:0;
	}
}


input:not([type]),
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="url"],
textarea{
	padding:.5em;
	&:active,
	&:focus{
		outline-width: 2px;
    	box-sizing: border-box;
    	outline-color: #bbb;
    	outline-style: solid;
	}
}


input:not([type]),
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="url"],
textarea{
	width:100%;
	border:1px solid $form-border-color;
	line-height: 1.5;
}

textarea{
	min-height:10rem;
}

select{
	@media #{$small-and-down}{
		max-width:auto;
		width:100%;
	}
	max-width:28rem;
}

vorm-radio-group,
vorm-checkbox-list {
	width:auto;
	display: inline-flex;
	flex-flow: column nowrap;
	> label {
		display: flex;
		line-height: 1.5;
		margin-bottom:7px;
		> input[type=radio],
		> input[type=checkbox]{
			margin-right:10px;
			margin-top:4px;
			flex-shrink: 0;
		}
	}
}

.bank-account-control{
	display: flex;
	flex-direction:row;
	align-items:center;
	label{
		margin-right:10px;
	}
	label, input:not([type]){
		display: inline-block;
	}
	input[type="text"]{
		width:auto;
		flex-grow:1;
	}
}

vorm-file-display,
.file-list-item,
.object-list-item,
vorm-object-suggest-display{
	width:100%;
	background: #f2f2f2;
    padding: .5em .7em;
    display: block;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.35);
    display: flex;
    align-items: center;
    zs-icon{
    	display: flex;
    	font-size:1.3em;
    	margin-right:6px;
    }
}

.file-list-item,
.object-list-item {
	padding-right:2rem;
}

.file-list-item-button{
	@include button-reset();
	flex-grow:1;
}

.file-list-item-button-inner{
	display: flex;
}
