$primary-color:#0097E2;
$anchor-color:darken($primary-color,10%);
$anchor-color-hover:darken($primary-color,10%);
$anchor-text-decoration:none;
$anchor-text-decoration-hover:underline;
$font-family:'helvetica neue',helvetica,arial,sans-serif;
$font-size:82.5%;
$template-width:960px;
$button-id-bg-color:$primary-color;
$pip-nav-anchor-color:#000;
$pip-nav-border-color:#ddd;

@import "template-normalize";
@import "template-defaults";
@import "template-custom";
@import "button-reset";

html,body{
	height: 100%;
}
 
#logo {
	background: url(../../form/ede/img/logo.png) no-repeat;
	height: 70px;
	width: 600px;
	overflow: hidden;
	left: 15px;
	top: 0px;
	position: absolute;
	z-index: 1;
	font-size: 1px;
	text-indent: -1000em;
	margin: 0;
	a{
		display: block;
		width: 370px;
		height: 60px;
		margin-left: 2px;
		&:focus{
			outline:2px solid #2b93ce;
		}
	}
}
 
#container {
	background: none;
	background: url("../../form/ede/img/bg-header-wrap.png") no-repeat center top transparent;
	border: none;
	box-shadow: none;
	width: 100%;
	min-height: 100%;
	position: relative; }
 
#header {
	background: url(../../form/ede/img/bg-header.png) no-repeat 0 0;
	height: 115px; }
 
#header, #main {
	width: 980px;
	margin: auto;
	position: relative; }
 
#slogan { display: none; }
 
#main { padding-bottom: 130px; }

.footer.wrap {
	background: none repeat scroll 0 0 #232D2F;
	margin-top: -80px;
}

#footer {
	height: auto !important;
	margin: auto;
	min-height: 80px;
	width: 980px;
	position: relative;
	
	#copy, #nav-footer, #social-footer, #logo-footer{
		left: 15px;
		position: absolute;
		top: 32px;
	}
	#logo-footer { top: -40px; }
}

.prelogin-button button strong,
.prelogin-button button strong span { color: #fff; }

.block-header{
	padding: 8px 25px;
}

h1{ 
	color: #474747;
	font-weight: normal;
	font-size: 1.75em !important;
}
	
h2{
	font-size: 1.4em !important;
	font-weight: normal !important;
	color: $primary-color;
}

.spinner-groot,
.formOverlay{
	bottom: 130px;
}
 
// block

.block{
	padding:10px 20px 20px;
}
 	
.block-content { padding: 20px 0 !important;  } 
 
.block > .block-header,
.block.succes > .block-header,
.webform .block-header .block-header-inner div{
	padding: 0;
	line-height: auto;
	height: auto;
}

.pip{
	padding-left:20px;
	padding-right:20px;
}