@import "../partials/dependencies";

//$template-type:open;

$body-bg:#E3DFDA;

$logo-url: "../../form/moerdijk/img/logo-moerdijk.jpg";
$logo-width:176px;
$logo-height:77px;
$logo-margin:0 0 0 20px;
$header-height:115px;
$header-padding:15px 0;

$border-radius:0;

$primary-color:#183863;
$secondary-color:#89ab0c;
$tertiary-color:#e44100;
$button-id-bg-color: #333;

$button-primary-bg:$tertiary-color;
$button-primary-color:white;
$button-primary-font-weight:bold;

$anchor-color:black;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;
$font-family: Arial,Verdana,'Sans Serif';
$font-size:75%;
$template-width:1001px;
$content-width:100%;

$container-border:none;

$pip-nav-background-color:$primary-color;
$pip-nav-border-color:$tertiary-color;
$pip-nav-border-color-active:$pip-nav-border-color;
$pip-nav-anchor-color:white;
$pip-nav-bg-active:lighten($primary-color,10%);
$pip-nav-border-weight:0;
$pip-nav-font-weight:bold;
$toggle-pip-nav-color:#fff;

$pip-progress-bar-bg:lighten($primary-color,50%);

$title-text-color:white;
$title-bg-color:$primary-color;
$title-padding-left:15px;

$heading1-color:#4f4f4f;

$heading2-color:#4f4f4f;
$heading2-fontsize:1.6em;




@import "template-normalize";
//@import "template-closed";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";

#container{
	box-shadow:0 0 30px rgba(0,0,0,0.35);
}