@import "../partials/dependencies";

@font-face {
    font-family: 'open-sans-condensedbold';
    src: url('../../fonts/open-sans-condensed/opensans-condbold-webfont.eot');
    src: url('../../fonts/open-sans-condensed/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/open-sans-condensed/opensans-condbold-webfont.woff2') format('woff2'),
         url('../../fonts/open-sans-condensed/opensans-condbold-webfont.woff') format('woff'),
         url('../../fonts/open-sans-condensed/opensans-condbold-webfont.ttf') format('truetype'),
         url('../../fonts/open-sans-condensed/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

$font-family:'Open Sans', sans-serif;
$font-family-2:'open-sans-condensedbold', sans-serif;

$template-inner-width:1200px;
$content-width:$template-inner-width;
$content-margin:0 auto;

$primary-color:#0099cc;
$secondary-color:#504841;
$tertiary-color:#5cac43;
$border-color:#7c7671;

$container-shadow:none;
$container-border:medium none color;

$logo-url:  "../../form/schouwen-duiveland/img/logo.png";
$logo-width:340px;
$logo-height:73px;
$logo-bg-size:contain;
$logo-wrapper-width:$template-inner-width;
$logo-wrapper-margin:0 auto;

$title-font-family:$font-family-2;
$title-font-weight:normal;
$title-bg-color:white;
$title-text-color:black;
$title-font-size:2.5em;
$title-height:130px;
$title-line-height:130px;
$title-border-bottom:1px solid $border-color;

$button-in-title-color:black;
$button-in-title-bg-hover:#eee;
$button-in-title-icon-color:black;

$header-height:95px;
$header-padding:8px 0;
$header-bg:$primary-color;

$heading-text-transform:uppercase;

$heading1-font-family:$font-family-2;
$heading1-weight:700;


$heading2-fontsize: 1.666666666666667em;
$heading2-color:$primary-color;
$heading2-weight: 700;
$heading2-font-family:$font-family-2;

$button-primary-bg:$secondary-color;


$border-radius:2px;

$anchor-color:black;
$anchor-color-hover:$primary-color;
$anchor-text-decoration:underline;
$anchor-text-decoration-hover:underline;

$font-size:93.75%;
$template-width:100%;

$pip-nav-background-color:white;
$pip-nav-border-color:darken($pip-nav-background-color,10%) !important;
$pip-nav-border-width:1px;
$pip-nav-border-color:$border-color;
$pip-nav-border-color-active:$pip-nav-border-color;
$pip-nav-anchor-color:white;
$pip-nav-bg-active:white;
$pip-nav-bg-hover:white;
$pip-nav-anchor-color:#333;
$pip-nav-anchor-color-active:$tertiary-color;
$pip-progress-bar-bg:$secondary-color;
$pip-nav-font-weight:bold;
$toggle-pip-nav-color:#000;

$pip-progress-bar-bg:lighten($primary-color,35%);

$pip-phase-title-bg:$secondary-color;
$stap-line-height:1.5;

//$stap-active-bg:$secondary-color;
//$icon-question-sign-color:$secondary-color;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "button-reset";
@import "template-media-queries";
@import "template-custom";

a:hover{
	cursor: pointer !important;
}

.blockcontent,
.block-content{
	margin-bottom:30px;
}

#loginwrap .header,
#loginwrap .block-header{
	margin-bottom:30px;
}

.form-navigation{
	position: relative;
	top:-1px;
}

.pip-nav{
	ul li a{
		padding:30px 0
	}
}

.header-actions .button{
	i,.button-text{
		vertical-align: middle;
	}
}

.webform .block-header{
	border-bottom:none;
}

@media only screen and (max-width: $breakpoint-mobile) {

	.pip-nav ul li.current a,
	.pip-nav ul li a:hover{
		border-bottom:none;
		margin:0;
	}

	.pip-nav{
		margin:0 -2%;
	}

	.pip-nav ul li a{
		padding:15px 1%;
	}

	.pip-nav ul li a i{
		min-width:40px;
		display: inline-block;
		text-align: center;
	}

	.header,
	.header h1,
	.block > .header > .header-actions{
		height:80px;
		line-height: 80px;
	}

	.header h1{
		font-size:2em !important;
	}

	.stap-titel,h2{font-size:1.5em !important;}

	header{
		height:70px;
	}

	#logo,
	#logo a{
		height:50px;
	}

	.pip-content{
		padding:0 !important;
	}

	.block-header{
		height:90px;
		h1{
			font-size:1.75em !important;
			line-height: 90px;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space: nowrap;
		}
	}

}

@media only screen and (max-width: 1240px) {

	#main,#logo{
		width:100%;
		padding:0 2%;
		@include box-sizing(border-box);
	}

	.blockcontent,
	.block-content{
		padding:0 !important;
	}

}