<div class="gridster-wrapper">

	<div 
		class="gridster-container"
		data-gridster="vm.gridsterOpts" 
		zs-dashboard-gridster
	>
		<ul>
			<li gridster-item="vm.customItemMap"
				ng-repeat="widget in vm.getWidgets() track by widget.id"
				class="widget"
			>
				<zs-dashboard-widget
					data-widget="widget"
					data-widgets="vm.getWidgets()"
					on-widget-create="vm.handleWidgetCreate($widgetType)"
					on-widget-remove="vm.remove($widget)"
					on-widget-data-change="vm.handleWidgetDataChange(widget.id, $data)"
					data-disabled="vm.isDisabled()"
					data-compact="widget.compact"
					class="widget-type-{{widget.widget}}"
					ng-class="{ compact: widget.compact }"
				>

				</zs-dashboard-widget>
			</li>
		</ul>
	</div>
	
	<div class="gridster-spacer">
	</div>

</div>


<div class="dashboard-widgets-empty" ng-show="vm.isEmpty()&&!vm.isCreateWidgetVisible()">
	<div class="dashboard-widgets-empty-inner">
		<zs-icon icon-type="view-dashboard"></zs-icon>
		<div class="dashboard-widgets-empty-primary">Uw dashboard is leeg</div>
		<div class="dashboard-widgets-empty-secondary">Voeg een widget toe met de groene knop</div>
	</div>
</div>
