<table class="table_zaken_title" cellspacing="0">
<thead>
    <tr>
        <td class="td30 center"><i class="icon-down icon"></i></td>
        <td class="tdvar">Generieke Categorie</td>
        <td class="td150">Acties:</td>
    </tr>
   </thead>
   <tbody>
    [% WHILE (categorie = categorien.next) %]
        [% PROCESS zaaktype/widgets/row_categorie.tt %]
    [% END %]
</tbody>
</table>

