<form ng-submit="vm.handleSubmit()">

	<zs-spinner is-loading="vm.isLoading()"></zs-spinner>

	<vorm-fieldset
		data-fields="vm.getFields()"
		data-values="vm.getValues()"
		data-valid="vm.getValidity().validations"
		data-on-change="vm.handleChange($name, $value)"
		data-compiler="vm.getCompiler()"
	>
	</vorm-fieldset>

	<div class="form-actions">
		<button class="btn btn-primary btn-flat" ng-disabled="!vm.isFormValid()||vm.isSubmitting()" type="submit">
			{{::vm.getSubmitLabel()}}
		</button>
	</div>
	
</form>
