[% IF ( navigation_links.size || 0 ) > 1 %]
<ul class="form-navigation[% IF disabled %] form-navigation-disabled[% END %]">
    [% FOREACH link IN navigation_links %]
    <li class="[% link.classes %]"
    [% FOREACH attribute IN link.attributes %]
        [% attribute.key %]="[% attribute.value %]"
    [% END %]
    >
        [% IF link.url && !disabled %]
        <a href="[% link.url | replace('&', '&amp;') %]" tabindex="0">
            [% link.label %]
        </a>
        [% ELSE %]
        [% link.label %]
        [% END %]
    </li>
    [% END %]
</ul>
[% END %]
