<div class="block clearfix import">
    <div class="header">Object import afgerond</div>

    <div class="blockcontent">
        <p>
            De import van <strong>[% fileref.original_name %]</strong> is
            geslaagd. In totaal zijn er [% state.items.size %] items verwerkt.
        </p>

        <p>
            <button type="button" class="button button-primary" onclick="window.location = '[% c.uri_for('/beheer/bibliotheek', state.library_id) %]'">
                Terug naar catalogus
            </button>
        </p>

        <fieldset>
            <legend class="blue">Verwerkte items</legend>

            <table>
                <thead>
                    <tr>
                        <td>Item naam</td>
                        <td>Uitgevoerde actie</td>
                    </tr>
                </thead>

                <tbody>
                [% FOREACH item IN state.items %]
                    <tr>
                        <td><a href="[% c.uri_for(item.source_uri) %]">
                            [% item.label %]
                        </a></td>

                        <td>[% item.selected.label %]</td>
                    </tr>
                [% END %]
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
