.document-viewer.print-button {
	position: absolute;
	z-index: 999;
	background-color: white;
	color: black;
}


zs-case-document-viewer > a.download {
	position: absolute;
	right: 0;
	top: 0;
	width: 33px;
	height: 40px;
	z-index: 100;
}
