.item-label{
	font-size: 0.9em;
	color: #fff;
	border-radius:$border-radius;
	padding: 0px 6px;
	line-height: 1.6;
	display: inline-block;
	button{
		border: none;
		background: none;
		text-align: center;
		i{
			font-style: normal;
			opacity: 0.5;
			margin: 0 0 0 5px;
			padding:0 3px;
			font-weight: normal;
			font-size:1.1em;
			color: #fff;
			line-height: 1;
		}
		&:hover i{
			opacity: 1;
		}
	}

}

.item-label-default{
	background:rgba(0,0,0,0.08);
	color:#888 !important;
	.icon-ok{
		color:#888 !important;
	}
}

.item-label-important{
	color:#fff !important;
	background:$primary-color;
}
