.spot-enlighter-wrapper {
    position: relative;
    display: inline-block;
    box-sizing:border-box;
    input[type=text]{
        width:100%;
    }
}

.spot-enlighter-wrapper > input {
    width: 100%;
    height:auto;
    background: url("/images/icon-filter.png") no-repeat scroll 7px center #fff;
    padding-left:25px;
    &[disabled="disabled"]{
        background: #fff;
    }
}

.spot-enlighter-tag-wrapper {
    padding: 3px;
    max-width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    height:100%;
}

.spot-enlighter-tag {
    display: inline-flex;
    align-items: center;
    background-color: #555;
    color:#fff;
    border-radius: 2px;
    padding: 0 28px 0 9px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    height:100%;
}

.spot-enlighter-tag:focus {
    border: 1px solid rgba(0,0,0,0.6);
}

.spot-enlighter-clear {
    width: 18px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 7px;
    background:none;
    line-height: 1;
    color:#aaa;
    border:none;
    &:hover{color:#fff;}
}

.spot-enlighter-loading {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 4px;   
    background: url(/images/spinner-small.gif) no-repeat 50% 50% #fff;
    margin-top:-8px;
    border-radius:3px;
}

.spot-enlighter-menu {
    position: fixed;
    z-index: 4000;
    background: white;
    padding: 2px 0;
    list-style-type: none;
    border: 1px solid #aaa;
    box-shadow:1px 3px 4px rgba(0,0,0,0.4);
    min-width: 200px;
    max-width: 500px;
    max-height: 300px;
    overflow: auto;
}

.spot-enlighter-menu[data-zs-spot-enlighter-vertical-orientation="bottom"] {
    margin-top: 2px;
}

.spot-enlighter-menu[data-zs-spot-enlighter-vertical-orientation="top"] {
    margin-bottom: 2px;
}

.spot-enlighter-menu > li {
    background-color: white;
    padding: 6px 8px;
    cursor: pointer;
    line-height: 1.3;
    margin-left:0 !important;
    .spot-enlighter-case-title i{
        display: none;
    }
}

.spot-enlighter-menu > li:hover,
.spot-enlighter-menu > li.spot-enlighter-entry-highlight  {
    background-color: #eee;
}