#Zaakadres{
	padding:1em;
	.ezra_map-viewport{
		position: absolute;
	    right: 1em;
	    left: 1em;
	    bottom: 1em;
	    top: 241px;
	    box-sizing: border-box;
	    border: 1px solid #aaa;
	    height:auto !important;
	    width:auto !important;
	}
	.map-fullscreen .ezra_map-viewport{
		position:static;
		height:100% !important;
		width:100% !important;
	}
}

.zaakdossier .ui-tabs .ui-tabs-nav li.tab-icon a.icons-zaakadres{
	text-indent:0;
	text-align: center;
	i{
		font-size:1.7em !important;
		margin-top:-2px;
	}
}