<zs-ui-view-progress view-name="*" show-spinner="false">
</zs-ui-view-progress>

<div class="bbv-nav__pusher"></div>

<div class="bbv-nav__container"
	ng-style="bbvNav.getBgContainerStyle()"
	>

	<div class="bbv-nav__bg" ng-style="bbvNav.getContainerStyle()">
	</div>

	<div class="bbv-nav__title">
		<h1>{{bbvNav.getViewportTitle()}}</h1>
	</div>

	<div class="bbv-nav__tabs">
		<a ui-sref-active="active" ui-sref="meetingList({ meetingType: 'open' })">
			<span>Open</span>
		</a>
		<a ui-sref-active="active" ui-sref="meetingList({ meetingType: 'archief' })">
			<span>Gearchiveerd</span>
		</a>
		<div class="bbv-nav__tabs-slidecontainer">
			<div class="bbv-nav__tabs-slide"></div>
		</div>
	</div>

	<div class="bbv-nav__button-bar" ng-class="{'active' : !bbvNav.searchActive}">
		<button ng-click="bbvNav.handleSearchToggle()">
			<zs-icon icon-type="magnify"></zs-icon>
		</button>
		<button ng-click="bbvNav.groupItems()">
			<zs-icon icon-type="{{ bbvNav.isGrouped() ? 'format-align-justify' : 'view-agenda' }}"></zs-icon>
		</button>
		<button ng-click="bbvNav.handleLoginAction()" ng-show="!!bbvNav.isWriteModeEnabled()">
			<zs-icon icon-type="{{ bbvNav.isLoggedIn() ? 'power' : 'account-outline' }}"></zs-icon>
		</button>
	</div>

	<div class="bbv-nav__search" ng-class="{'active' : bbvNav.isSearchVisible() }" zs-click-outside="bbvNav.handleClickOutside()" on-click-outside-event="mouseup">
		<div class="bbv-nav__inputcontainer">
			<zs-icon class="bbv-nav__searchicon" icon-type="magnify"></zs-icon>
			<div class="bbv-nav__searchfilterlabel" ng-repeat="item in bbvNav.getActiveFilters()">
				<span>{{item}}</span>
				<zs-icon ng-click="bbvNav.removeFilter(item)" icon-type="close"></zs-icon>
			</div>
			<input class="bbv-nav__searchinput"
				ng-change="bbvNav.searchIndex()"
				ng-model="bbvNav.searchQuery"
				focus-on-condition="bbvNav.searchActive"
				type="text"
				placeholder="Filter de voorstellen..."
				ng-keyup="bbvNav.handleSearchKeyUp($event)"
			/>
			<button class="bbv-nav__clearbutton" ng-click="bbvNav.handleSearchToggle()">
				<zs-icon icon-type="close-circle"></zs-icon>
			</button>
		</div>

		<zs-suggestion-list
			suggestions="bbvNav.getSuggestions()"
			on-select="bbvNav.handleSuggestionSelect($suggestion, $event)"
			key-input-delegate="bbvNav.getKeyInputDelegate()"
			ng-show="bbvNav.getSuggestions().length && bbvNav.searchQuery.length > 0"
			class="bbv-nav__searchresults"
		>
		</zs-suggestion-list>

	</div>

</div>
