@import "./../../styles/variables";

$button-color: #fff;

zs-map {
	display: block;
	zs-spinner{
		position: absolute;
		right:0;
		left:0;
		top:0;
		bottom:0;
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
}

.zs-map-component {
	position: relative;	
	display: flex;
	flex: 1 1 auto;
	&.fullscreen {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 8;
	}
}

.zs-map-container {
	display: flex;
	flex: 1 1 auto;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	canvas{
		display: block;
	}
}

.zs-map-toolbar {
	padding: .7rem 0.5rem;
	margin: 0;
	-webkit-padding-start: 0;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	z-index: 1;
}

.zs-map-toolbar-button {
	border: none;
	display: inline-block;
	height: 2.6rem;
	line-height: 2.6rem;
	outline: 0;
	padding: 0 .9rem;
	text-transform: uppercase;
	vertical-align: middle;
	// Gets rid of tap active state
	-webkit-tap-highlight-color: transparent;
	text-decoration:none;
	text-align: center;
	letter-spacing: .2px;
	font-size:1.3rem;
	cursor: pointer;
	font-weight: 500;
	border-radius:100%;
	padding:0;
  	width: 2.6rem;
  	background-color: $button-color;
  	box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 3px;
  	margin-left: 6px;

  	&:hover {
    	background-color: #eee;
    }

  	> zs-icon > i {
  	  font-size: 1.4rem;
  	  line-height: inherit;
  	}
}

.ol-overlaycontainer-stopevent {
	position: absolute;
	top: 0;
	left: 0;
}

.map-popup {
	position: fixed;
	z-index: 6;
}

.map-popup-label {
	font-weight: bold;
}

.map-popup-body {
	background: white;
	padding: 1em;
	box-shadow: #{$shadow};
	white-space: nowrap;
	.btn{
		margin-top:10px;
	}
}

.ol-zoom {
	padding: .7rem 0.5rem;
	display: flex;
	flex-direction: row-reverse;
}

.ol-control > button {
	@extend .zs-map-toolbar-button;
}

.ol-rotate {
	display: none;
}

.map-measure-tooltip {
	position: relative;
	background: rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	color: white;
	padding: 4px 8px;
	white-space: nowrap;
	&.hidden {
		display: none;
	}
}

.map-extended{
	padding:0 0 1rem;
}

.map-extended-location{
	&:last-child{
		.map-extended-location-meta-list{
			border-bottom:none;
		}
	}
}

.map-extended-location-button{
	width:100%;
	font-weight: 500;
	font-size:1.0667rem;
	padding:1rem 1.5rem;
	&:hover{
		background: #f6f6f6;
	}
}

.map-extended-location-button-inner{
	display: flex;
	span{
		flex-grow:1;
	}
}

.map-extended-location-meta-list{
	padding:.5rem 1.5rem;
	margin:0 0 .5rem;
}

.map-extended-location-meta{
	margin-bottom:1rem;
}

.map-extended-location-meta-label{
	color:#999;
	font-size:.933rem;
	font-weight: 500;
}
