.field{
    margin-right: 0;
    select{
        margin: 7px 0;
        font-size: 1em;
    }
    & > ul{
        margin: 0;
        padding-left: 15px;
        & > li{
            line-height: 1.7;
        }
    }
    > span{
        line-height: 1.8;
    }
    > img{
        max-width:100%;
        margin-bottom:15px;
    }
}

.field-can-edit{
    padding:0 100px 0 0;
}

.field-label{
    padding-right:15px;
    position: relative;
    .icon-book{
        display: none;
        color:#aaa;
        margin:0 5px;
        &:hover{
            color:black;
        }
    }
    &:hover .icon-book{
        display: inline;
    }
}

.field-has-required-permissions{
    position:relative;
    padding-right:30px;
}

.field-has-help{
    padding-left: 1.6em;
}

.field-help{
    position: absolute;
    left: 0;
    top: -1px;
    .dropdown-wrap{line-height:1.4;}
    .icon-question-sign{
        color: $primary-color;
        &:hover,&:focus{
           color: black;
        }
    }
}

.field-required-permissions{
    position:absolute;
    right:0;
    top:0;
    i{
        font-size:16px;
        color:$primary-color;
        &:hover{
            color:#000;
        }
    }
}
