.map-wrap {
  margin: 0 0 15px;
}

.map-fullscreen{
    background:#fff;
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
    z-index:4000;
      .map{
        background:#fff;
        position:fixed;
        top:0;
        bottom:0;
        right:0;
        left:0;
        width:100%;
        height:auto;
        border:none;
        .ezra_map-viewport{
          height:100% !important;
          position: static;
        }
    }
}

.map-header {
  border: 1px solid #aaa;
  border-bottom: none;
}

.map-header input {
  width: 100%;
  border: none !important;
  padding: 10px 0 10px 0;
  background: url("/images/icon-filter.png") no-repeat scroll 12px center;
  text-indent: 34px;
  margin: 0;
}

.ie8 .map-header input {
  text-indent: 0;
  padding-left: 34px;
}

.map-header input:focus,
.map-header input:active {
  box-shadow: none !important;
  border: none !important;
}

.map {
  border: 1px solid #aaa;
}

.map-balloon-title {
  margin-bottom: 6px;
  font-size: 1.231em;
  padding-bottom: 10px;
  border-bottom: 1px dotted #bbb;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.map-balloon-title a {
  text-decoration: none;
}

.map-balloon-title a span {
  font-weight: normal;
}

.map-balloon-list {
  padding-bottom: 0px;
  margin-right: 10px;
  padding-left: 0;
  margin-bottom: 0;
}

.map-balloon-list li {
  line-height: 1.6;
  list-style: none;
  margin-left: 0 !important;
}

.map-balloon-list li div {
  display: inline;
}

.map-balloon-list li div:first-child {
  font-weight: bold;
}

.map-wrap .map > div {
  width: 100% !important;
}

.map h2 {
  margin: 0 0 10px !important;
}

#OpenLayers_Control_MaximizeDiv img#OpenLayers_Control_MaximizeDiv_innerImage,
#OpenLayers_Control_MinimizeDiv img#OpenLayers_Control_MinimizeDiv_innerImage{
  display: none;
}

#OpenLayers_Control_MinimizeDiv,
#OpenLayers_Control_MaximizeDiv,
.openlayers-icon-fullscreen,
.openlayers-icon-measuredistance,
.openlayers-icon-measurearea{
  width:33px;
  height:33px;
  top:12px;
  position: absolute;
  color:lighten($primary-color,10%);
  &:before{
    display: inline-block;
    font: normal normal normal 1.6em/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    vertical-align: middle;
    speak: none;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    font-size:2em;
    text-align: center;
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
  }
  &:hover{
      color:#000;
      cursor: pointer;
  }
}

#OpenLayers_Control_MinimizeDiv,
#OpenLayers_Control_MaximizeDiv{
  z-index:1;
  right:12px;
}

.openlayers-icon-fullscreen,
#OpenLayers_Control_MaximizeDiv,
.openlayers-icon-measuredistance,
.openlayers-icon-measurearea{
  background: #fff;
  box-shadow:0px 1px 6px rgba(0,0,0,0.6);
  border-radius: 1px;
}



.openlayers-icon-measurearea,
.openlayers-icon-measuredistance{
  &.active{
    box-shadow:inset 0px 1px 4px rgba(0,0,0,1);
    background:#444;
    &:before{
      color:#fff;
    }
  }
}

.map-measure-output-wrapper{
  width:340px;
  height:43px;
  background:#fff;
  box-shadow:0px 1px 6px rgba(0,0,0,0.6);
  border-radius: 1px;
  position: absolute;
  left:50%;
  margin-left:-170px;
  bottom:10px;
  z-index:1000;
  .map-measure-output{
    padding:10px 12px;
    line-height: 1.5;
  }
  .map-measure-output-close-button{
    position: absolute;
    right:3px;
    top:3px;
    font-size:.7em;
    color:#999;
    &:hover{
      color:#000;
    }
  }
  span{
    font-size:.9em;
    color:#999;
    line-height: 1.8;
  }
}

.olControlLayerSwitcher.olControlNoSelect{
  height:100%;
  max-height:400px;
}

.olControlLayerSwitcher .layersDiv{
  background-color:rgba(255,255,255,1) !important;
  position: absolute;
  right:12px;
  top:12px;
  bottom:13px;
  width:226px;
  box-shadow:0px 1px 6px rgba(0,0,0,0.6);
  color:#000;
  overflow: auto;
  z-index:1;
}

.olControlLayerSwitcher .layersDiv .baseLbl,
.olControlLayerSwitcher .layersDiv .dataLbl{
  font-size:18px;
  font-weight: 700;
  margin-bottom:15px !important;
  margin-top:5px !important;
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv,
.olControlLayerSwitcher .layersDiv .dataLayersDiv{
  padding-left:0 !important;
  input[type="checkbox"]{
    margin-right:5px;
  }
  label{
    font-weight: normal;
    font-size:13px;
  }
}

.olControlLayerSwitcher .layersDiv .baseLayersDiv label,
.olControlLayerSwitcher .layersDiv .dataLayersDiv label{
  display: inline !important;
}

#OpenLayers_Control_MaximizeDiv{
  &:before{
    content: mdi('layers'); 
  }
}

#OpenLayers_Control_MinimizeDiv{
  &:before{
    content: mdi('close');
  }
}

.openlayers-icon-fullscreen{
  right:53px;
  &:before{
    content: mdi('fullscreen');
  }
  &.openlayers-icon-fullscreen-active:before{
    content: mdi('fullscreen-exit');
  }
}

.openlayers-icon-measuredistance{
  right:94px;
  &:before{
    content: mdi('ruler');
  }
}

.openlayers-icon-measurearea{
  right:135px;
  &:before{
    content: mdi('vector-square');
  }
}

div[id*="OpenLayers_Container"] {
  z-index:1 !important;
}

div[id*="Control.PanZoomBar"],
div[id*="ScaleLine"],
div[id*="LayerSwitcher"],
div[id*="MousePosition"] {
  z-index:2 !important;
}
