.intern zs-top-bar{
    position: fixed;
}

#contentwrapper{
    clear:both;
    margin-top:56px;
}

.public #contentwrapper{
    margin-top:0;
}

.body-full-screen{
    background:#fff !important;
    #contentcolumn{
        margin:0;
    }
}

#contentcolumn{
    float:left;
    width:100%;
}

#leftcolumn{
    float: left;
    clear:left;
    height: 99%;
    width: 205px;
    position: static;
    margin-left:-215px;
    margin-top:15px;
}

.ie7 #leftcolumn{
    position: relative;
}

#leftcolumn_inner{
    border:1px solid #999;
    background:#fff;
    width:193px;
    -webkit-box-shadow: 0 0 3px #ccc;
    -moz-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    margin-bottom:20px;
    @media only screen and (max-width: $breakpoint) {
        margin-bottom:0;
    }
}

#leftcolumn_inner2{
    background: url(/images/nav-bg-strong.gif) repeat-y left top;
}

#topsection{
    background: $primary-color;
    height:$topbar-height;
    position: fixed;
    width: 100%;
    z-index: 2998;
    transition: background 1s ease;
}

.ie7 #topsection{
    position: static;
}

.header-left{
    position: absolute;
}

.header-right {
    color: #ffffff;
    font-weight: bold;
    height: $topbar-height;
    display: flex;
    display: -ms-flexbox;
    padding-left:339px;
}

.disclaimer{
    i{
        font-size:13px;
        width:5px;
        background:#eee;
        padding:3px 6px;
        position: fixed;
        bottom:10px;
        left:-1px;
        border:1px solid #ccc;
        text-align:center;
        display: inline-block;
        color:#666;
        &:hover{
            background:#ddd;
            color:#000;
            cursor: pointer;
            border-color:#aaa;
        }
    }
}
