/* @group Veldoptie */
.veld-uitleg {
  color: #666;
}

.veldoptie_text,
.veldoptie_numeric,
.veldoptie_text_uc,
.veldoptie_image_from_url {
  width: 100%;
}

.kenmerk-veld-validation-message {
  display: none;
  padding:10px 0 0;
}

.kenmerk-veld .ng-invalid-number + .kenmerk-veld-validation-message,
.kenmerk-veld .ng-invalid-email + .kenmerk-veld-validation-message,
.kenmerk-veld .ng-invalid-zs-iban-validate + .kenmerk-veld-validation-message{
  display: block;
}

.veldoptie_valuta_simpel{
  width: 175px !important;
}

.veldoptie_datepicker,
.veldoptie_datepicker_begindate,
.veldoptie_datepicker_datelimit{
  width:15em !important;
}

.veldoptie_valuta input.eur {
  width: 150px !important;
}

.veldoptie_valuta input.cnt {
  width: 50px !important;
}

.veldoptie_textarea {
  width: 100%;
  height: 100px;
}

.veldoptie_multiple .add.add-veldoptie {
  margin: 0;
}

.veldoptie_multiple_list {
  padding: 0 !important;
  margin: 0 !important;
}

.veldoptie_multiple_list li {
  list-style: none outside none !important;
  margin-bottom: 2px;
  margin-left: 0;
  padding: 0px 30px 6px 0px;
  position: relative;
  width: 100%;
}

.veldoptie_multiple_list li .icon-remove{
  display: block;
  float: right;
  position: absolute;
  height: 16px;
  width: 16px;
  right: 7px;
}

.veldoptie_multiple_list select {
  width: 99%;
  margin: 0;
}

.icon-remove-disabled, .icon-remove-disabled:hover{
  opacity:.15;
  color:#000 !important;
}

.veldoptie_webadres{
  position:relative;
  padding-right:3.1em;
  input{
    width:100%;
  }
  input, button{
    vertical-align: middle;
  }
  button{
    position:absolute;
    right:0;
    top:0;
    i{
      vertical-align: middle !important;
    }
  }
}

@import "qmatic";

.veldoptie-bag .spot-enlighter-wrapper{
  width:100%;
}
.bag-selected-addresses{
  margin-bottom:5px;
  label{
    display: block;
  }
}

.veldoptie_email_wrap{
  position:relative;
  display: block;
}

.icon-font-awesome.veldoptie_email_icon{
  position:absolute;
  font-size:16px;
  right:7px;
  top:7px;
  &.icon-remove{
    color:red;
  }
  &.icon-ok{
    color:green;
  }
}


.veldoptie_email{
  width:100%;
  &.ng-invalid:not(:focus){
    outline:none;
    @include box-shadow(red 0 0 4px);
    border-color:red;
  }
  &.ng-invalid.ng-pristine{
    border-color:#bbb;
    @include box-shadow(none);
  }
}

.veldoptie_bankaccount_wrap{
  padding-left:57px;
  position: relative;
  label{
    position: absolute;
    left:0;
    top:2px;
  }
  .kenmerk-veld-validation-message{
    margin-left:-57px;
  }
}

.veldoptie_bankaccount{
  width:100%;
}

/* @end */
